.blue-ribbon {
  width: 1440.5px;
  opacity: 0.8;
  background-image: linear-gradient(to top, #f2fcfe, #1c92d2);
  padding-bottom: 0;
  padding-left: 20px;
  position: fixed;
  margin-top: 0px !important; }

.header-margin {
  margin-top: 50px;
  font-color: black !important; }

.account-landing .select {
  color: #263c47; }

.account-landing .error-select {
  border: 1px solid red !important; }

.ribbon-margin {
  margin-top: 10px;
  padding-left: 582px; }

.account-table-section {
  margin: 25px 0px 75px 0px; }

.over-image {
  z-index: 5; }

.create-button {
  margin-top: 44px !important;
  margin-left: 60px !important;
  color: #13b6f2 !important;
  background-color: white !important; }

.button-pad {
  padding-right: 20px !important; }

.engage-table-header {
  height: 35px;
  background-color: #263c47; }

.active-table {
  margin-bottom: 17px !important; }

.account-table-header {
  width: 100%;
  height: 35px; }

.account-img {
  zoom: 250%; }

.account-table-header-column {
  border-right: solid 1px #e4e4e4;
  width: 100%;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: black;
  vertical-align: middle;
  line-height: 10px; }

.account-table-header-column-name {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #9b9b9b;
  letter-spacing: -0.5px;
  text-align: left; }

.account-table-row {
  width: 100%;
  border: solid 1px #e4e4e4;
  border: solid 1px var(--white); }

.account-table-row-column {
  width: 210px;
  border-bottom: solid 2px #e4e4e4;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #263c47;
  color: var(--dark-grey-blue);
  vertical-align: middle;
  line-height: 26px;
  padding-top: 23px; }

.account-table-header-column-val {
  margin-bottom: 5px; }

.account-table-row-column-light {
  width: 100%;
  border-bottom: solid 2px #e4e4e4;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #9b9b9b;
  vertical-align: middle;
  line-height: 27px;
  padding-top: 23px; }

.account-table {
  padding: 10px;
  border-bottom: 2px; }

.engage-table-header-column-name img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer; }

.account-table-header-column-name img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 5px; }

.account-row-table-header-column-name {
  margin-bottom: 5px;
  padding-left: 5px; }

.gap-t-40 {
  padding-top: 40px; }

.gap-t-60 {
  padding-top: 60px; }

.table-wrapper .no-img {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  background-color: #efefef;
  border: solid 1.5px #9b9b9b; }

.table-wrapper .bot-img img {
  width: 38px;
  height: 38px;
  min-width: 38px;
  display: inline-block;
  vertical-align: middle; }

.table-wrapper .time-stamp-col,
.table-wrapper .version-col {
  min-width: 100px;
  max-width: 130px; }

.table-wrapper .deploy-col {
  min-width: 160px; }
  .table-wrapper .deploy-col .button {
    width: 100px; }
