.grow-input {
  height: 30px;
  border-radius: 2.5px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #263c47;
  padding-left: 7.5px; }

.campaign-label {
  width: 234px;
  height: 24.5px;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #9b9b9b; }

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #13b6f2 !important; }

.dashboard-landing .campaign-module-selector .module-navigator-faux-search {
  position: relative;
  width: 81%;
  margin-left: 4px;
  overflow-x: auto;
  padding-top: 1.5px;
  padding-bottom: 1.5px; }

.dashboard-landing .campaign-module-selector .custom-module-selector {
  min-height: 31px;
  padding-top: 0px !important;
  margin: 0px 0px 0px 0px !important; }

.dashboard-landing .campaign-module-selector .module-navigator-faux-search .selected-item {
  padding: 2px 10px 2px;
  margin-bottom: 3px;
  line-height: 1.3; }

.dashboard-landing .campaign-module-selector .true-search-field {
  margin-top: -5px; }

.dashboard-landing .campaign-module-selector .existing-modules {
  margin-bottom: 3px; }
