.fb-modal-container {
  width: 370.1px;
  height: 324.3px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ededed; }

.welcome-to-botworx {
  width: 310.9px;
  height: 60px;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #4a4a4a; }

.fb-login-btn {
  width: 238.4px;
  height: 40px;
  border-radius: 5px;
  background-color: #39579a;
  margin-top: 10px;
  margin-bottom: 10px; }

.login-with-facebook {
  width: 199.9px;
  height: 21.5px;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff; }

.permissions-section {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  text-align: left;
  color: #4a4a4a; }

.welcome-to-botworx .text-style-1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.0; }

.fb-login-subtitle {
  margin-top: 20px;
  font-weight: 500; }

.fb-box {
  padding: 40px; }
