.hero{
  .hero-body{
    padding: 1.5rem 1.5rem;
  }
  &.is-info {
    background-image: url(../images/top.jpg) !important;
    .title {
      font-weight: bold;
      line-height: 0.94;
      letter-spacing: -0.7px;
      text-align: left;
      color: #BE9063;
      margin-bottom: 10px;
    }
  }
}