//Left Navigation
$leftnavigationbar-width:       170px;
$sidebar-bg:                    #f2fcfe;

.dashboard-landing{
  display: flex;
  align-items: stretch;
  .dashboard-content{
    overflow: hidden;
    display: flex;
    //width: 100%;
    //width: #{"calc(100% - ${leftnavigationbar-width})"}; //Substract width of sidebar;
    //width: calc(100% - #{170px});
    width: 100%;
    padding-left: 170px;
    //@media (min-width: $desktop){ //TODO
    //  width: #{"calc(100% - ${leftnavigationbar-width})"}; //Substract width of sidebar;
    //}
  }
}

.center-content{
  width: 100%;
  padding: 0;
  position: relative;
  // top: 89px;
}

.leftnavigationbar {
  width: $leftnavigationbar-width;
  min-width: $leftnavigationbar-width;
  background-color: $sidebar-bg;
  background-image: linear-gradient(to top, #f2fcfe, #1c92d2);
  //background: url("../images/branding/bot/white.svg") no-repeat bottom center, linear-gradient(to top, #f2fcfe, #1c92d2);
  position: fixed;
  z-index: 1000;
  display: block;
  //box-shadow: 0 0 4px 2px rgba(187, 187, 187, 0.5);
  min-height: calc(100vh - 70px);
  overflow: hidden;
  // top: 89px;
  &:after{
    content: "";
    background: url(../images/branding/bot/white.svg) no-repeat bottom center;
    height: 130px;
    width: 130px;
    display: block;
    background-size: contain;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.side-barlinks{
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;  //Scrollable contents if viewport is shorter than content.
  width: $leftnavigationbar-width;
}
.left-nav-logo{
  padding: 24px 21px;
}
.profile-wrapper{
  padding: 1em 1.75em;
  .profile-pic{
    width: 47px;
    min-width: 47px;
    height: 47px;
    border-radius: 100%;
    border: 1px solid #8fc8e8;
    margin-right: 10px;
    background-color: white;
  }
  .profile-name{
    opacity: 0.7;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: -0.5px;
    text-align: left;
    color: #ffffff;
  }
}
.is-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-border{
  border: none !important;
  box-shadow: none !important;
}