.modal{
  .modal-header{
    margin-bottom: 30px;
  }
  .modal-content{
    position: relative;
  }
  .box{
    background-color: #494949 !important;
  }
  .delete{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


.modal {
  z-index: 40 !important;
}

.modal-background {
  background-image: url(../images/background.jpg);
  opacity: 1
}