.keyword-landing{
	.sortable-list .columns{
		> .column{
			padding-left: 0;
			//.drag-handle,
			//.dragger span{
			//	visibility: visible;
			//	opacity: 1;
			//}
		}
		> .is-1{
			margin-left: 0;
		}
		.drag-handle{
			visibility: visible;
		}
	}

	.kw-dropdown-user-inp {
		min-width: 105px;
	}

	.kw-dropdown-resp {
		min-width: 75px;
	}

	.sortable-list .columns > .is-1 .drag-handle {
		margin-left: 0px;
	}

	.keywords-import-type {
		display: inline-block;
		left: 10px;
		.select {
			font-size: 1rem !important;		
		}
	}
	.react-tagsinput-tag {
		background-color: #13b6f2 !important;
		border: 0px !important;
		color: white !important;
		padding: 1px 6px !important;
		line-height: 1.2;
		font-size: 12px;
		position: relative;

		&:hover a{
			//width: 63px;
			opacity: 1;
		}
		a{
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			background: white;
			padding: 2px 5px;
			border-radius: 15px;
			box-shadow: 2px 2px 5px #ccc;
			font-size: 10px;
			margin-top: -10px;
			margin-right: -5px;
			color: #263c47;
			font-weight: 100;
			&:before{
				//background-image:url(../images/trash.svg) !important;
				content: "x";
			}
		}
	}

	span.highlighted{
		padding:0 !important;
		cursor: inherit !important;
		background: #FFCF46;
	}

	.keywords-type-select .select{
		height: 37px;
	}
	.keyword-module-selector{
		.module-navigator-container{
			min-height: 39px;
			padding-left: 15px;
			padding-top: 6px;
			padding-bottom: 6px;
			border: 1px solid transparent;
			border-radius: 3px;
			border-color: #dbdbdb;
		}
	}

	.keywords-text {
		padding: 18px 5px;
	}
}

.keyword-delete {
	opacity: 0;
	img{
		max-width: 150% !important;
		width: 20px;
		position: relative;
		top: 17px;
		cursor: pointer;
	}
}
.keyword-inputbox {
	height: auto;
	padding-bottom: 0px;
	min-height: 30px;

	.module-selector-container {
		margin: 0px 0px 0px 10px !important;
	}
}

.keyword-div {
	min-height: 50px;
	background-color: #f5f7fa;
	border: solid 1px #e4e4e4;
}

.keyword-type-dropdown {
    width: 133px;
	height: 30px;
	border-radius: 2.5px;
	background-color: #ffffff;
	border: solid 1px #dddddd;
}

.keyword-input-box {
    width: 334.5px;
	min-height: 30px;
	border-radius: 2.5px;
	background-color: #ffffff;
	border: solid 1px #dddddd;
}




.keyword-row {
	margin-bottom: 25px !important;
}

.drag-handle-keyword {
    background-image: url(../images/drag.svg) !important;
	background-size: 13px !important;
    position: relative;
    top: 4px;
}


.react-tagsinput input {
	width: 125px;
}

.keyword-inputbox div {
	background-color: transparent;
	border: none;
}

.react-tagsinput {
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.show-delete {
	visibility: visible
}

.hide-delete {
	visibility: hidden
}


.dragger {
	padding: 0px;
}

.dragger span {
	opacity: 0
}

.keyword-table-row:hover span, .keyword-table-row:hover .keyword-delete { 
	opacity: 1
}





.search-input {
	width: 20px;
	height: 30px;
	border-radius: 2.5px;
	background-color: #ffffff;
	border: solid 1px transparent;
    background-image: url(../images/search_icon_v2.svg);	
	background-position: 2px 2px; 
	background-size: 22px;
    background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out, border 0.4s ease-in-out;
	padding-left: 30px;
	&:focus {
		width: 100%;
		border-color: #dddddd;
		outline: none;
	}
}

// input[type=text] {
//     width: 130px;
//     box-sizing: border-box;
//     border: 2px solid #ccc;
//     border-radius: 4px;
//     font-size: 16px;
//     background-color: white;
//     background-image: url(../images/searchicon.png);
//     background-position: 10px 10px; 
//     background-repeat: no-repeat;
//     padding: 12px 20px 12px 40px;
//     -webkit-transition: width 0.4s ease-in-out;
//     transition: width 0.4s ease-in-out;
// }




.dragger-div {
	width: 20px !important;
	padding: 0px;
}






.keywords-table-header {
	height: 24px;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 24px !important;
	font-weight: bold !important;
	line-height: 1.0 !important;
	letter-spacing: -0.8px;
	text-align: left;
	color: #263c47 !important;
	padding-left: 13px;
}

.keyword-table-row {
	margin-left: -6px;
}

.keyword-table {
	margin-top: -20px;
}

.bot-response {
	margin-left: 0px;
}
