.automate-landing{
	.add-module-buttons {
		margin-left: 25px;
		margin-top: 25px;
		.has-text-right{
			text-align: left !important;
		}
	}
	.package{
		.title.is-4{
			margin-bottom: 0.7rem;
		}
	}
	.sortable-list .m-t-20{
		margin-top: 0 !important;
	}

	.automate-package-header {
		font-size: 1.4em;
		margin-bottom: 0.8em;
	}
}







.package h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.0;
	letter-spacing: -0.8px;
	color: $darkbluegrey;
}

.main-content {
	padding: 0px;
	margin-left:-10px;
}


.package-select.Select--single > .Select-control .Select-value {
	margin-top:0px;
}
.package-select .Select-menu-outer {
	overflow-y: scroll;
	max-height: 100px;
}
.package-select .Select-menu-outer::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
.package-select .Select-menu-outer::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.package-select .Select-menu-outer .Select-option {
	font-weight: bold;
}
.package-select .Select-menu-outer .Select-option:hover {
	background: #13b6f2;
	color: white;
}

.main-content .is-1 {
  padding-right: 5px;
  margin-left: 5px;
}

.sortable-list .columns > .column {
	padding-left:5px;
}
.sortable-list .columns > .is-1 {
	margin-left: 20px;
}
.sortable-list .columns > .is-1 .drag-handle {
	margin-left: -8px;
}
.sortable-list .columns:hover > .is-1 .drag-handle {
  visibility: visible;
}

.package .question-mark-image {
	width: 20px;
	margin-left:5px;
}

.help-icon {
	width: 20px !important;
	margin-left: 5px !important;
	position: relative !important;
}

.keywords-help-icon {
	width: 20px !important;
	padding-top: 10px !important;
	position: relative !important;
}

.left-pad-1{
	left : 3px !important;
}
.keywords-help-tooltip {
	width: 20px !important;
	left: 2px;
	position: relative !important;
	margin-right: 10px !important;
}

.bot-module-pill-container, .package h3 {
	display: flex;
	align-items: center;
	position: relative;
}

.bot-module-pill-container .drag-handle {
	height: 34px;
}

.package .bot-module-pill-container .drag-handle {
	margin-left: -17px;
  visibility: hidden;
  margin-right: 1px;
}

.bot-module-pill-container .drag-handle{
	width: 17px;
	transition: all 0.2s linear;
}

.bot-module-pill-container:hover .drag-handle {
	visibility: visible;
}


.bot-module-pill-container .controls,  .package h3 .controls {
	width: 0;
	opacity: 0;
  overflow: hidden;
  height: 34px;
  transition: all 0.2s linear;
  background: #efebe9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-left: -12px;
  // margin-right: 3px;
  position: relative;
  z-index: 5;
  border: 1px solid #efebe9;
}
.bot-module-pill-container .controls {
	padding-left: 6px;
}

.bot-module-pill-container .incomplete-bar {
	background: #d0021b;
	height: 34px;
  margin-bottom: -8px;
	margin-left: 5px;
  width: 5px;
	display: inline-block;
  border-radius: 20px;
}
.bot-module-pill-container .has-links .incomplete-bar {
	height: 34px !important;
	margin-top: 0px !important;
}

.package h3 .controls {
	margin-left: 0px !important;
	background: #fff;
	border: white solid thin;
	width: 0px;
}

.bot-module-pill a {
	border: none;
}

.bot-module-pill-container .bot-module-pill a {
	position:relative;
	z-index:6;
}

.pill-button {
	font-weight: normal !important;
}

.bot-module-pill-container .bot-module-pill > a:hover ~ .controls, .bot-module-pill-container .bot-module-pill > .controls:hover, .package h3:hover .controls, .package:hover h3 .controls {
	width: 32px;
	opacity: 1;
}

.package h3:hover .controls, .package:hover h3 .controls {
	width: 75px;
	opacity: 1;
}

.bot-module-pill-container .bot-module-pill > a:hover ~ .controls, .bot-module-pill-container .bot-module-pill > .controls:hover {
	min-width: 98px;
}

.bot-module-pill-container .controls img, .package h3 .controls img  {
	width: 30px;
	white-space: nowrap;
	cursor: pointer;
	background: #efebe9;
	border-right: white solid thin;
	padding: 7px 6px 10px 6px;
	border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.package h3 .controls img {
	width: 30px;
	background: white;
	margin-left:0px;
	padding: 7px 6px 7px 6px;
}

.bot-module-pill-container .controls img:hover {
	background:$botblue;
}

.alert-warning {
	padding: 5px;
	background: red;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
}

.modal-padding{
	padding: 0px 20px 0px 20px;
}

.add-package-icons .video-tools, .add-package-icons .social-share {
	width: 180px;
	height: 180px;
	background: #efebe9;
	margin-bottom: 10px;
}
.add-package-icons .video-tools:hover, .add-package-icons .social-share:hover {
	width: 180px;
	height: 180px;
	background: #13b6f2;
	cursor: pointer;
}
.add-package-icons .video-tools .bookmark, .add-package-icons .social-share .bookmark {
	margin-left: 20px;
  width: 30px;
  position: absolute;
}
.add-package-icons .video-tools .package-video, .add-package-icons .social-share .package-social {
	width: 100px;
	position: absolute;
	opacity: 0.6;
	margin-left: 35px;
	margin-top: 30px;
}
.add-package-icons:hover img.bookmark {
	opacity: 0.8;
}
.add-package-icons:hover img.package-video {
	opacity: 0.8;
}
.add-package-icons .video-tools h5, .add-package-icons .social-share h5 {
	margin: 0 auto;
	text-align:center;
	padding-top: 130px;
}
.add-package-icons .video-tools:hover h5 strong, .add-package-icons .social-share:hover h5 strong {
	color: white;
}

.mentionInput {
	min-height: 63px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: white;
	min-width: 80%;
	width: 92%;
}

.mentionInput input, .mentionInput textarea {
	font-stretch: 100% !important;
	letter-spacing: 0px !important;
	padding: 9px !important;
	margin: 0px !important;
	line-height: inherit;
	color: transparent;
	caret-color: #363636;
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 3px;
	//box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	border-color: #dbdbdb;
	background-color: white;
	border-color: #dbdbdb;
	height: unset;
	//border :none;
}

.mentionInput__highlighter {
	padding: 9px !important;
}
.editableFontSize div{
	line-height: 21px;
}
.mentionInput__highlighter span, .mentionInput__highlighter strong {
	letter-spacing: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	line-height: inherit;
}

.editableFontSize .mentionInput__highlighter  span,.editableFontSize .mentionInput__highlighter  strong, .editableFontSize input, .editableFontSize textarea {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
}

.readOnlyFontSize span, .readOnlyFontSize strong, .readOnlyFontSize input, .readOnlyFontSize textarea {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 16px;
}

.mentionInput__highlighter strong {
	color: white !important;
	visibility: visible !important;
}

.mentionInput__highlighter span {
	color: #363636 !important;
	visibility: visible !important;
}

.no-border textarea, .no-border input {
	border: none;
	box-shadow: none;
	height: unset;
}

.characterCounter{
	width: 50px;
	position: absolute;
	right: 8px;
	top: 8%;
}