.component-drawer {
	border-bottom: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    margin-bottom: 0em;
    padding-bottom: 0.8em;
    margin-left: 1.3em;

}

.component-drawer .drawer-contents {
	padding-top: 0.9em;
	padding-left: 0.9em;
}
.component-drawer .drawer-contents > div {
	margin-bottom: 10px;
}
.component-drawer .drawer-contents > div:last-child {
	margin-bottom: 0px;
}

.component-drawer .go-to-module-links-container {
	display: flex;
	align-items: center;
}

.component-drawer .go-to-module-links-container > * {
	margin-right: 4px;
}

.component-drawer .go-to-module-links-container .small-button {
	margin: 8px 4px 8px 0;
}


.module .component-list-item:hover .drag-handle {
    opacity: 1;
    visibility: inherit;
}

.component-list-item-controls {
	margin-left: auto;
	width: 35px;
}

.component-list-item {
	display:flex;
	align-items: center;
	padding: 0.75em 0;
	border-bottom: 2px solid #e0e0e0
}

.component-list-item > div {
	margin-right:15px;
}

.component-drawer .button {
	background: $white-two;
	margin-right:9px;
	font-size: 14px;
}

.component-drawer .button:hover {
	background: $botblue;
	color: white;
}

.component-drawer .card-title {
	display: inline-block;
	margin-right: 5px;
	height: 30px;
	vertical-align: middle;
}
.component-drawer .card-title.with-image {
	margin-top: -15px;
}
.component-drawer .incomplete-bar, .component-list-item .incomplete-bar {
	background: #d0021b;
  height: 31.5px;
  width: 5px;
	margin-right: 10px;
	display: inline-block;
  border-radius: 20px;
}
.component-list-item .incomplete-bar {
	height: 24px;
	float: left;
}

.component-drawer .incomplete-text {
	color: #d0021b;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-top: -15px;
}
.component-drawer .empty-image-title {
	margin-top:-20px;
}
.component-drawer .card-image {
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-right: 20px;
	overflow: hidden;
}
.component-drawer .card-image img {
	width: auto;
	max-width: none !important;
	height: 100%;
}
.component-drawer .card-image-horizontal {
	display: inline-block;
	height: 30px;
	width: 55px;
	margin-right: 20px;
	overflow: hidden;
	//position: relative;
	//top: -9px;
}
.component-drawer .card-image-horizontal img {
	width: auto;
	max-width: none !important;
	height: 100%;
}

.component-container .column {
	padding: 0 0.75rem;
	line-height: 0.8em;
}

.component-container .counter {
	font-size: 18px;
	font-weight: bold;
}

.component-list-item {
	background: white;
}

.component-list-item .drag-handle {
	width: 18px;
	height: 28px;
	margin-left: -18px;
	opacity: 1;
	transition: all 95ms cubic-bezier(0.35, 0.29, 0.57, 1.13);
	text-align: center;
}

.module .component-list-item:hover .drag-handle {
	visibility: visible;
}
// .module .component-list-item .drag-handle {
// 	opacity: 0;
// }

.component-list-item-content {
	cursor: pointer;
	width: 90%;
	word-wrap: break-word;
}

.component-list-item-content a {
	color: inherit;
}

.add-module-box {
	position: relative;
	margin-top:1.8em;
}

.add-module-box .panel-container {
	overflow:hidden;
	position:relative;
	height: 560px;
}

.add-module-box .panel {
	position: absolute;
	top: -450px;
	opacity: 0;
	transition: all 0.3s cubic-bezier(0, 0, 0.11, 0.96);
}

.add-module-box .panel.open {
	top: 0px;
	opacity: 1;
}

.add-module-box .toggler {
	position:absolute;
	left:-13px;
	top:-13px;
	width:27px;
	height:27px;
	background-image: url('/images/plus-large-default.svg');
	background-size : 27px;
	background-repeat: no-repeat;
	border-radius: 50%;
	display:block;
	cursor:pointer;
	z-index: 9;
	transition: transform 0.3s cubic-bezier(0, 0, 0.11, 0.96);
}

.add-module-box .toggler.open {
	transform: rotate(90deg);
	background-image: url('/images/plus-large-hover.svg');

}

.go-to-container {
	display : flex;
	align-items : center;
}

.go-to-container > * {
	margin-right: 10px;
}

/* drag fix */
.sortable-sub-component h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
	line-height: 1.125;
}

.component h5,
.sortable-sub-component h5 {
	font-size: 18px;
	font-weight: bold;
}
