.configurator {
	background : $offwhite;
	border-radius: 10px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
	padding: 8px;
	position: fixed;
	margin-right: 20px;
	min-width: 41%;
	overflow-y : scroll;
}

.configurator h2 {
	font-size: 45px;
	font-weight: bold;
	letter-spacing: -1.5px;
	padding: 10px 0 0 10px;
}

.configurator .json-export {
	width: 20px;
	cursor: pointer;
}

.configurator .json-textarea {
	font-weight: bold;
}

div.component {
	display: flex;
	align-items: start;
	position:relative;
}

div.component img.bot-type-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: #fff;
	padding: 7px;
	margin-left:10px;
}

div.component > div {
	width: 95%;
}

div.component .component-drag-handle{
	width:0;
	opacity: 0;
	overflow: hidden;
	position:absolute;
	transition: all 0.1s linear;
}

div.component:hover .component-drag-handle {
	opacity: 1;
	width: 10px;
	left:5px;
}

h5.component-component-heading {
	color: #9b9b9b;
	font-size: 18px;
	font-weight: bold;
	margin-top:0.8em;
}

.sortable-list.component-components {
	margin-bottom: 1.6em;
}

.configurator .input,
.configurator .textarea,
.component .textarea,
.component .input {
	font-size:14px;
}

.configurator .input.is-small,
.configurator .textarea.is-small,
.component .input.is-small,
.component .textarea.is-small {
	font-size:0.75em;
}

.configurator .is-empty {
	border: #d0021b solid thin !important;
}

.configurator .input.is-small.is-empty {
	border: #d0021b solid thin;
}

.button-control-container {
	// background: rgba(255, 255, 255, 0.3);
}

.button-control-container .control {
	margin: 0.8em 0;
	margin-top: 3px;
	width: 95%;
}
.button-control-container .button-label {
	border: #333 solid thin;
  font-weight: bold;
	margin-left: 20px;
}

.component-components {
	margin-top: 0.8em;
}

.configurator .columns,
.sortable-sub-component .columns,
.sortable-sub-component-list {
	margin-top: 0;
}

.configurator .column,
.sortable-sub-component .column,
.sortable-sub-component-list .column {
	padding:0.24rem 0.55rem;
}

.configurator .component,
.drag-styles .component {
	background: rgba(255, 255, 255, 0.3);;
	margin-bottom: 20px;
	padding: 10px;
	padding-bottom: 4px;
	border-top: 1px solid $lightgrey;
	border-bottom: 1px solid $lightgrey;
}

.configurator h3.component-type {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: left;
	color: $darkbluegrey;
}

h3.component-type {
	display: flex;
}

h3.component-type img {
	background: $white;
	padding: 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.component-type img {
	width: 30px;
	height: 30px;
	margin-right: 16px;
}

.component .button.is-link,
.sortable-sub-component .button.is-link,
.sortable-sub-component-list .button.is-link {
	color: $botblue;
	font-size:14px;
}

.component .component.active {
	background: lighten($botblue, 50);
}

.component button.remove-item.is-link,
.sortable-sub-component button.remove-item.is-link,
.sortable-sub-component-list button.remove-item.is-link {
	margin-left: auto;
	width: 20px;
	height:16px;
	background-image: url('/images/close-small-default.svg');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
	position: relative;
	top: 2px;
}

.component .remove-item:hover {
	background-image: url('/images/close-small-hover.svg');
}

.component .button.is-link,
.sortable-sub-component .button.is-link,
.sortable-sub-component-list .button.is-link {
	text-decoration: none;
    position: relative;
    top: -4px;
}

.component .button.is-link:hover,
.sortable-sub-component .button.is-link:hover,
.sortable-sub-component-list .button.is-link:hover {
	text-decoration:underline;
}

.component .cropped-thumbnail-image {
	position: relative;
	display:inline-block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
}

.cropped-only-image {
	height: 125px !important;
	width: 125px !important;
	object-fit: cover;
}

.component .cropped-thumbnail-only-image {
	position: relative;
	display:inline-block;
}

.component .cropped-thumbnail-image-horizontal {
	position: relative;
	display:inline-block;
	padding-bottom: 48%;
	width: 100%;
	height: 0;
}

.component .cropped-thumbnail-image button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}

.component .cropped-thumbnail-image button:focus {
	outline: none;
}
.component .cropped-thumbnail-image-horizontal button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}

.component .cropped-thumbnail-image-horizontal button:focus {
	outline: none;
}

.component .cropped-thumbnail-image .crop-control {
	position: absolute;
	bottom: 5px;
	left: -3px;
	z-index: 1;
}

.component .cropped-thumbnail-only-image .crop-control {
	position: absolute;
	bottom: 5px;
	left: -3px;
	z-index: 1;
}

.component .cropped-thumbnail-image .remove {
	position: absolute;
	top: 5px;
	right: 1px;
	z-index: 1;
}

.component .cropped-thumbnail-only-image .remove {
	position: absolute;
	top: 5px;
	right: 1px;
	z-index: 1;
}
.component .cropped-thumbnail-only-image button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}

.component .cropped-thumbnail-only-image button:focus {
	outline: none;
}
.component .cropped-thumbnail-image-horizontal .crop-control {
	position: absolute;
	bottom: 5px;
	left: -3px;
	z-index: 1;
}

.component .cropped-thumbnail-image-horizontal .remove {
	position: absolute;
	top: 5px;
	right: 1px;
	z-index: 1;
}

.component .cropped-thumbnail-image img.cropped-image {
	// max-width: 115px;
	// max-height: 115px;
}

.cropped-image {
	position: absolute;
	object-fit:cover;
	width: 100% !important;
	height: 100% !important;
}
.cropped-image-horizontal {
	position: absolute;
	object-fit:cover;
	width: 100%;
	height: 100%;
}
.component .radio-wrapper,
.sortable-sub-component .radio-wrapper {
	margin: 0 5px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.card-container {
	margin-bottom: 10px;
  padding: 10px 20px 30px;
  border: solid #EFEFEE;
  border-width: 1px 0;
  position: relative;
}

.card-container .close {
	display: none;
}

.card-container .remove-item,
.sortable-sub-component-list .remove-item {
	position:absolute !important;
	right: 0 !important;
	top:0 !important;
}

.component.list .card-container .remove-item,
.sortable-sub-component .list-remove {
	right: 15px !important;
	top: 10px !important;
}

.inputs-container .text-field {
	margin-bottom: 10px;
}
.button-type-and-label .text-field {
	margin-bottom: 3px;
	min-width: 60%;
	width: 60%;
}
.button-type-and-label .Select-control:focus {outline:0;}
.button-type-and-label .character-counter {
	margin-left: auto;
  right: 0;
  min-width: 30px;
  margin-right: -15px;
  padding-right: 0px;
  text-align: right;
}

.configurator header b {
	vertical-align: top;
}

.card-container header {
	display:flex;
	margin-bottom: 5px;
}

.card-container header > * {
	margin-right: 10px;
}

.card-container .add-image-placeholder {
	height: 100px;
	background: rgba(0,0,0,0.5);
	display:flex;
	align-items: center;
	justify-content:center;
	color: white;
	font-size: 10px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	cursor:pointer;
}

.card-container .add-image-placeholder img {
	width: 20px;
	margin: 0 auto;
	display:block;
}

.card-container .edit-image-placeholder {
	height: 100px;
	position:relative;
	color: white;
	font-size: 10px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	cursor:pointer;
}

.card-container .edit-image-placeholder img {
	position: absolute;
}

.card-container .edit-image-placeholder p {
    text-align: center;
    position: relative;
    background: rgba(0,0,0,0.3);
}

.card-container .buttons-container h5 {
	margin-top: 3px;
}
.card-container .buttons-container .sortable-sub-component-list .drag-handle {
	margin-top: -10px;
}

.component .typing-container {
	font-size: 14px;
	font-weight:bold;
	display: flex;
}

.component .typing-container > * {
	margin-right:15px;
}


.component .typing-container input[type="radio"] {
	margin-right: 5px;
}

.component .typing-container .seconds {
	width: 3em;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: 1px solid $lightgrey;
	padding:4px 8px;
	margin:0 8px;
}

.component .set-attribute-container, .component .store-input-container {
	display: flex;
}

.component .set-attribute-container > *, .component .store-input-container > * {
	margin:0 0px 0px 6px;
}

.module-selector-container {
	margin: 5px 0;
}

.module-selector-container label {
	font-size:14px;
	font-weight: bold;
	margin-right: 8px;
}

.text .buttons-and-quick-replies-container .module-selector-container {
	display:flex;
}
.text .buttons-and-quick-replies-container .module-selector-container label {
	margin-top: 3px;
}
.text .buttons-and-quick-replies-container .quick-reply-varname .quick-reply-variable-icon {
	margin-left: 50%;
	width: 24px;
	height: 24px;
	padding: 5px;
	margin-right: 5px;
	margin-top: 5px;
	background: white;
}
.text .buttons-and-quick-replies-container .columns .quick-reply-varname {
	margin-bottom: -20px;
}
.text .buttons-and-quick-replies-container .columns:last-child .quick-reply-varname {
	margin-bottom: -60px;
}
.text .buttons-and-quick-replies-container .quick-reply-varname .faux-input-container {
	width: 40%;
}

.condition-container .condition-inputs {
	display:flex;
	font-size: 14px;
	font-weight: bold;
	align-items:center;
}

.condition-container .condition-inputs > * {
	margin: 0 5px;
}

.condition-container .condition-inputs .input {
	font-size: 14px;
	height: inherit;
	padding: 2px 5px;
}

.condition-container .condition-controls {
	display:flex;
}

.condition-container .condition-controls .button {
	margin-left: auto;
	top: 0;
}

.component .custom-select .Select-control,
.sortable-sub-component .custom-select .Select-control,
.sortable-sub-component-list .custom-select .Select-control{
	background: url('../images/dropdown-large.svg') no-repeat right center white;
	background-size: 15px 15px;
  border-radius: 2px;
  font-weight: bold;
  padding: 0;
  border: thin #ddd solid;
	height: 2.25em;
  -webkit-appearance: none;
  padding: 2px 5px;
  font-size: 12px;
	padding-right: 25px;
	border-right: transparent 5px solid;
	min-width: 80px;
}

.component .custom-select:hover .Select-control,
.sortable-sub-component .custom-select:hover .Select-control,
.sortable-sub-component-list .custom-select:hover .Select-control{
	background: url('../images/dropdown-large-white.svg') no-repeat right center #13b6f2;
	background-size: 15px 15px;
	color: white;
}

.custom-select:hover .has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: white;
}

.custom-select {
	width: 40%;
}
.custom-select .Select-arrow-zone {
	display: none;
}
.custom-select .Select-input {
	height: 14px;
	vertical-align: top;
	margin-left:-5px;
	margin-top:-5px;
}

.custom-select .Select-placeholder, .Select--single > .Select-control .Select-value {
	margin-top: -5px;
  padding-left: 5px;
}
.custom-select:hover .Select-placeholder, .Select--single > .Select-control .Select-value {
	color: white !important;
}
.custom-select .Select-value-label {
	margin-left: -5px;
}
.custom-select .Select-menu-outer {
	width: 100%;
}
.custom-select .Select-menu-outer .Select-option {
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
}
.custom-select .Select-menu-outer .Select-option:hover {
	background: #13b6f2;
	color: white;
}

.goto-custom-select {
	width: 100%;
}

.pause b {
	font-size: 12px;
}
.pause .pause-input {
	width: 40px;
	font-weight: bold;
  font-size: 12px;
  padding: 2px 5px;
}

.list-cards-container .inputs-container .buttons-container {
	width: 150%;
	display: block !important;
}

.gallery .data-source-container {
	min-width: 100%;
}
.gallery .header select {
	background: url(../images/dropdown-large.svg) no-repeat right 5px center white;
	background-size: 10px 10px;
	border-radius: 2px;
	padding: 0;
	color: #888;
	border: thin #FFF solid;
	height: auto;
	-webkit-appearance: none;
	padding: 2px 5px;
	font-size: 12px;
	padding-right: 25px;
}
.gallery .header > span {
	width: 47%;
	float: right;
	margin-top: -26px;
}
.gallery .header .custom-select {
	// margin-left: 5px;
	display: inline-block;
	width: 23%;
}
.gallery .header .custom-select .Select-control {
	min-width: auto;
}

.custom .data-source-container .selected-item {
	background: #333;
}

.gotomodule .goto-add-condition, .gotomodule .goto-remove-condition {
	width: 20px;
	height: 20px;
	margin: 0;
	cursor: pointer;
}
.gotomodule .goto-add-condition:hover, .gotomodule .goto-remove-condition {
	opacity: 0.8;
}
.gotomodule .goto-remove-condition {
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
.gotomodule .goto-conditional-selector {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	border: none;
	font-weight: bold;
	padding-right: 10px;
	background: url(../images/expander-down.svg) no-repeat right center;
  background-size: 7px 7px;
}
.gotomodule .module-selector-container {
	display: flex;
	width: 100%;
}
.gotomodule .module-selector-container .module-navigator-container {
	width: 89.5%;
}
.jsoneditor-poweredBy{
	visibility: hidden !important;
}
div.jsoneditor-menu {
	background-color: #0094ce !important;
	border-bottom: 1px solid #0094ce !important;
}


.set-attribute-label{
	margin-top: 7px !important;
	font-size: 14px;
	font-weight: bold;
}

.condition-inputs .goto-add-condition{
	width: 20px;
	height: 20px;
	margin: 0;
	cursor: pointer;
}

.condition-inputs .goto-remove-condition{
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.condition-inputs .goto-conditional-selector {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font-weight: bold;
	padding-right: 10px;
	background: url(../images/expander-down.svg) no-repeat right center;
	background-size: 7px 7px;
}