.left-nav-logo{
	padding: 24px 21px;
}

.app-font-color {
	color: #BE9063 !important;
}
.loader-style {
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin: -64px 0px 0px -64px;
}

.loader-container {
	width: 100%;
    height: 100vh;
    position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	background-color: rgba(192,192,192,0.5);
}