.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 9px;
  border-radius: 3px;
  background-color: white;
  min-width: 80%;
  width: 93%;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.editor .public-DraftEditorPlaceholder-root {
  position: absolute;
}
.editorEdit{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  min-height: 63px;
}
.editorContainer:focus .editorEdit, .editorContainer:active .editorEdit, .editorContainerFocused .editorEdit{
  border: 1px solid $botblue;
}
.editorReadOnly{
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  border : none;
  padding: 0px;
}
