.modal-heading{
    width: 472.5px;
    height: 34px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 0.76;
    letter-spacing: -1.5px;
    text-align: left;
    color: #263c47;
    padding-left: 25px;
}

.account-create-modal{
    width: 500px;
    height: 361px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #ededed;
}

.delete-modal-heading{
    width: 270px;
    height: 34px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 37px;
    font-weight: bold;
    line-height: 0.76;
    letter-spacing: -1.5px;
    text-align: left;
    color: #263c47;
    margin: 27px 0px 0px 27px;
}

.account-modal-card{
    width: 510px !important;
    height: 390px !important;
}

.delete-modal-card{
    width: 329px !important;
    height: 210px !important;
    overflow: hidden !important;
}

.warning-modal-card{
    width: 430px !important;
    height: 330px !important;
    overflow: hidden !important;
}

.broadcast-test-modal-card{
    width: 50% !important;
    height: 90% !important;
    overflow: auto !important;
}

.account-modal-label {
    width: 172.5px;
    height: 24.5px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    text-align: left;
    color: #9b9b9b;
    padding-left: 12px;
}

.delete-modal-button{
    width: 116.5px;
    height: 40px;
    border-radius: 5px;
    background-color: #13b6f2;
}
.cancel-modal-button {
    width: 87.5px;
    height: 40px;
    border-radius: 5px;
}
.modal-input {
    width: 310px;
    height: 30px;
    border-radius: 2.5px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #263c47;
    padding-left: 5px;
}