
.modal-input {
    width: 310px;
    height: 30px;
    border-radius: 2.5px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #263c47;
    padding-left: 5px;
}