nav.sidebar
{
	background-image: linear-gradient(to top, #f2fcfe, #1c92d2);
	padding-right: 0;
	position: fixed;
	width: 180px;

}

nav.top-ribbon{
	width: 1440.5px;
	opacity: 0.8;
	background-image: linear-gradient(to top, #f2fcfe, #1c92d2);
	padding-bottom: 0;
	position: fixed;
	height: 10px;
}

nav.sidebar img.bot-worx-bot {
    position: fixed;
    width: 170px;
    bottom: -83px;
    display: inline-block;
    left: 10px;
    opacity: 0.7;
}

nav.sidebar .user-display {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav.sidebar .user-display h5 {
	max-width: 90px;
}

nav.sidebar .user-display .user-photo
{
	max-width: 60px;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	-moz-border-radius: 50%;
	display:inline-block;
	margin: 0 17px;
}

nav.sidebar h5 {
	color: white;
	opacity: 0.7;
	font-weight: bold;
	letter-spacing: -0.5px;
}

h5.bot-name {
	text-align:center;
	margin: 5px 0 15px;
}

nav li {
	color : white;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.5px;
	margin-bottom: 3px;
}

nav.sidebar ul {
	width:inherit;
}

nav.sidebar a {
	background-repeat: no-repeat;
	background-position: 20px 8px;
	background-size: 16px;
	padding:0 45px;
	display: block;
	color: white;
}

nav.sidebar a:hover, nav.sidebar a.active {
	color: $darkbluegrey;
	background-color: rgba(255,255,255,0.3);
}

nav.sidebar a.automate {
	background-image: url('/images/navigation/automate-white.svg');
}

nav.sidebar a.keywords {
	background-image: url('/images/navigation/keywords-white.svg');
}

nav.sidebar a.engage {
	background-image: url('/images/navigation/engage-white.svg');
}

nav.sidebar a.grow {
	background-image: url('/images/navigation/grow-white.svg');
}

nav.sidebar a.analyze {
	background-image: url('/images/navigation/analyze-white.svg');
}

nav.sidebar a.settings {
	background-image: url('/images/navigation/settings-white.svg');
}

nav.sidebar a.automate:hover, nav.sidebar a.automate.active {
	background-image: url('/images/navigation/automate-blue.svg');
}

nav.sidebar a.keywords:hover, nav.sidebar a.keywords.active {
	background-image: url('/images/navigation/keywords-blue.svg');
}

nav.sidebar a.engage:hover, nav.sidebar a.engage.active {
	background-image: url('/images/navigation/engage-blue.svg');
}

nav.sidebar a.grow:hover, nav.sidebar a.grow.active {
	background-image: url('/images/navigation/grow-blue.svg');
}

nav.sidebar a.analyze:hover, nav.sidebar a.analyze.active {
	background-image: url('/images/navigation/analyze-blue.svg');
}

nav.sidebar a.settings:hover, nav.sidebar a.settings.active {
	background-image: url('/images/navigation/settings-blue.svg');
}
