body { 
	font-family: Helvetica Neue, Arial, sans-serif;
	letter-spacing: -0.2px;
	color: $darkbluegrey;
}

@font-face {
    font-family: 'Freight-Text-Italic';
    src: url('../fonts/freigtexbooita-webfont.woff2') format('woff2');
    src: url('../fonts/freigtexbooita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content h1 {
	font-size: 45px;
	font-weight: bold;
	line-height: 0.76;
	letter-spacing: -1.5px;
}

.modal-card h1 {
	font-size: 45px;
	font-weight: bold;
	line-height: 0.76;
	letter-spacing: -1.5px;
}

.content h2.description {
	font-family: Freight-Text-Italic, Times, serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.33;
	color: #4a4a4a;
}

.content h3 {
	height: 24px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.0;
	letter-spacing: -0.8px;
}

.is-success {
	color: $component-green;
}

.is-warning {
	color: $component-gold;
}

.is-danger {
	color: $component-red;
}

.component h4 {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #263c47;
}

.button.is-bold {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.2px;
}

.has-text-muted {
	color: $lightgrey-two !important;
}

h3.json-only-message {
	font-size: 18px;
	font-weight: 300;
	color: #d0011b;
}

.pre-built-package h1 {
	display: flex;
    align-items: center;
}

.featured-package-heading img {
	margin-right: 10px;
}

.pre-built-package-module {
    display: flex;
    align-items: center;
}

.pre-built-package .description {
	font-size: 18px;
}

.pre-built-package-module .description {
	margin-left: 5px;
	font-size: 14px;
	color: $lightgrey-two;
}