//Navbar
$navbar-height: 4.25rem !default
$navbar-item-color: #ffffff !default
$navbar-item-hover-background-color: transparent !default

//Form elements
$label-weight: 500;
$label-color: #9b9b9b;

//Modal
$modal-z: 1000;
